.scene3D {width: 100%;
    height: 80vh;
    z-index: 5;
    @media (max-width: 750px)  {
        height: 60vh;
    }

}

.modelConfigurator{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 50vh;
    z-index: 10;
    right: 5vw;
    top: 20vh;
    gap: 1rem;
    @media (max-width: 750px) {
        top: 60vh;
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        height: fit-content;

    }
}