.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentWrapper {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    z-index: 3;
}

.infoBlock {
    flex: 1;
    min-width: 300px;
    text-align: left;
}

.infoBlock h1 {
    font-size: 3em;
    font-family: 'TD Mars', sans-serif;
    font-weight: 400;
    line-height: 50px;
}

.infoBlock p {
    font-weight: 300;
    line-height: 50px;
    font-family: Helvetica;
}

@media (max-width: 750px) {
    .contentWrapper {
        width: 90%;
        flex-direction: column;
        text-align: center;
    }
    .infoBlock {
        text-align: center;
    }
}